p{
    color: rgb(146, 133, 133);
    
    font-weight: 600;
    transition: all 2s;
}
p:hover{
    color: red;
    letter-spacing: 2px;
    line-height: 1.5;
}

.bg-blue{
    background-color: blue !important;
}
.navbar  a{
    color: aliceblue !important;
}